<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="editContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editContactModalLabel">Edit Contact Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'update_contact_info' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_full_name" class="custom-label">Full Name</label>
                {{ contact_info_form.full_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_birthdate" class="custom-label">Birthdate</label>
                {{ contact_info_form.birthdate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_phone_number" class="custom-label">Phone Number</label>
                {{ contact_info_form.phone_number }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_street_name" class="custom-label">Street Name</label>
                {{ contact_info_form.street_name }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_house_number" class="custom-label">House Number</label>
                {{ contact_info_form.house_number }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_city" class="custom-label">City</label>
                {{ contact_info_form.city }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_postal_code" class="custom-label">Postal Code</label>
                {{ contact_info_form.postal_code }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_country" class="custom-label">Country</label>
                {{ contact_info_form.country }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
